@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/roboto/Roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Bitter';
  src: url('fonts/bitter/Bitter-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/bitter/Bitter-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* Margin and padding reset */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* BG-colors */

html, body, wrapper, #companybox, #studentbox, #c-or-s, .whitebox-content-splitter, #login_form, .form-bg {
  background-color: #f8f7f7;
}

/* Reset focus effect */

*:focus {
  outline: none;
}

input:focus {
  box-shadow: 0px 0px 8px rgba(212, 62, 73, 0.3)
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Bitter, sans-serif;
/*  font-style: italic;*/
  font-weight: 100;
  letter-spacing: 0.03em;
  color: rgb(212,62,73);
}

a, p, h4, h5, h6, ul, table, svg, input, button, label, #contact-info {
  font-family: Roboto, sans-serif;
  font-weight: 100;
/*  color: rgb(212,62,73);*/
  color: #222;
}

a, p, h1, h2, h3, h4, h5, h6, input {
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #222;
}

h1 {
  font-size: 2.2em;
  font-weight: 400;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input, button {
  margin: 10px auto;
  padding: 10px;
  position: relative;
  display: block;
  border-radius: 4px;
  font-size: 0.8em;
  width: 200px;
  background-color: #fff;
}

button {
  background-color: #fff; 
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

button:hover {
  background-color: rgb(212, 62, 73);
  color: #fff;
  cursor: pointer;
}

blockquote p {
  font-size: 1.8em;
  line-height: 1.4em;
  font-style: italic;
  color: #222;
  position: absolute;
}

.quotationmark {
  font-size: 8em;
  color: rgb(212,62,73);
}

.quote-source {
  font-size: 1em;
  line-height: 1em;
  color: #ccc;
  top: 100px;
}

/*----------------- Header -------------------*/

#header {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 1); 
  z-index: 100;
  height: 59px;
*/
}

#main_nav {
  position: relative;
  width: 100%;
  height: inherit;
}

#main_nav ul li a {
  position: relative;
  display: block;
  color: #222;
}

/*
#main_nav-middle li a:hover {
  background-color: rgb(212,62,73);
  color: #fff;
}
*/

#main_nav-left {
  position: relative;  
  float: left;
  width: 25%;
}

#main_nav-left li a {
  padding: 20px;
}

#main_nav-middle {
  width: 50%;
  margin: 0 auto;
}

#main_nav-middle li a {
  width: calc(33.3333333% - 40px); /* 1/3 minus padding */
  position: relative;
  float: left;
  text-align: center;
  padding: 20px;
}

.underline_nav {
  height: 3px;
  bottom: 0;
}

#main_nav-right {
  position: relative;
  float: right;
  width: 25%;
  text-align: right;
}

.avatar_profile {
  border-radius: 50%;
  display: inline-block;
}
  
#avatar-profile-Kenny {
  position: absolute;
  top: 13px;
  right: 105px;
  width: 35px;
  height: 35px;
  background: url(../img/avatars/kim_vilfort.jpg) no-repeat;
  background-size: 70px;
  background-position: -20px -6px;
}

#nav-user_dropdown-btn {
  position: absolute;
  width: 100%;
  overflow: visible;
  min-height: 5px;
  overflow: visible;
}

#main_nav-right li a {
  padding: 20px;
  padding-right: 45px;
}

#nav-user_dropdown-btn a {
  right: 0px;
}

#nav-user_dropdown-arrow {
  position: absolute;
  right: 20px;
  top: 22px;
  font-size: 0.8em;
}

#nav-user_dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: #fff; 
  width: 180px;
  z-index: 100;
}

#nav-user_dropdown li a {
  position: relative;
  display: block;
  color: #222;
  padding: 20px;
  text-align: right;
}

#log_out-btn a:hover {
  background-color: rgb(212, 62, 73);
  color: #fff;
}

.sideline {
  position: absolute;
  width: 3px;
  background-color: rgb(212,62,73);
  top: 0;
}

.sideline_nav {
  height: 0;
  left: 0;
}

/*--------------- Header slut ----------------*/

#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#companybox {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

#studentbox {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

#companybox-text,
#studentbox-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 150px;
}

#companybox-text h1,
#studentbox-text h1 {
  font-weight: 100;
  font-size: 3em;
  position: relative;
  padding: 5px;
}

.underline {
  position: absolute;
  width: 0;
  background-color: rgb(212,62,73);
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#underline1,
#underline2 {
  height: 5px;
  top: 0;
}

.fa {
  margin: auto;
  text-align: center;
}

#icon-company,
#icon-student {
  display: block;
  width: 100%;
  position: relative;
  font-size: 150px;
  color: rgb(212,62,73);
  margin-top: 50px;
}

#icon-company,
#icon-student,
#companybox-text h2,
#studentbox-text h2 {
  opacity: 0.9;
}

#c-or-s {
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  z-index: 100;
/* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#c-or-s p {
  position: absolute;
  text-align: center;
  top: 30%;
  padding: 10px;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#login_btn h5 {
  position: absolute;
  text-align: center; 
  top: 350px;
  padding: 10px;
  width: 100px;
  color: #aaa;
  background-color: #fff;
  z-index: 100;
  border-radius: 4px;
  text-transform: uppercase;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#login_btn h5:hover {
  background-color: rgb(212, 62, 73);
  color: #fff;
  cursor: pointer;
}

#login_form {
/*  visibility: hidden;*/
  position: absolute;
  top: 320px;
  width: 240px;
  padding: 20px;
/*  border: 1px solid #fff;*/
  border-radius: 8px;
  z-index: 110;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#close-login-form {
  position: absolute;
  color: #ccc;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#login_form input[type="text"],
#login_form input[type="password"],
#login_form button[type="submit"] {
  display: block;
  border: none;
  border-radius: 4px;
  width: 200px;
  background-color: #fff;
  font-size: 1em; 
}

#login_form button[type="submit"]:hover {
  color: #fff;
  background-color: rgb(212, 62, 73);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
  color: rgb(212, 62, 73);
  line-height: 2em;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 6px;
  width: 23px;
  content: "\f10c";
}

input[type="radio"]:hover:before + label:hover:before {
  cursor: pointer;
}

input[type="radio"]:checked + label:before {
  content: "\f192";
}

label {
  margin-left: 12px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
}

#login_form button[type="submit"] {
  width: 222px;
}

#divider_line {
  display: absolute;
  width: 1px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px dashed #fff;
}

#footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 300px;
  background-color: rgb(140, 200, 220);
  z-index: 0;
}

#footer-left {
  position: relative;
  width: 45%;
  margin: 100px auto;
  float: left;
}

#contact-info {
  position: relative;
  display: block;
  width: 330px;
  margin-right: 100px;
  color: #fff;
  font-size: .8em;
  line-height: 2em;
  text-align: right;
  float: right;
}

#contact-info strong {
  font-weight: 400;
  font-size: 1.2em;w
  padding-bottom: 6px;
  border-bottom: 1px solid white;
}

.contact-info,
.contact-info a {
  color: #fff;
  margin-top: 15px;
  line-height: 1.6em;
}

#footer-divider {
  position: absolute;
  width: 1px;
  top: 20%;
  height: 60%;
  border-left: 1px solid #fff;
  left: 45%;
}

#footer-right {
  position: relative;
  width: 55%;
  margin: 100px auto;
  float: left;
}

#sm-icons {
  position: relative;
  display: block;
  width: 330px;
  margin-left: 90px;
}

.sm {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 3em;
  padding: 20px;
}

/*----------------- Page: company-no-login.html -----------------------*/


/* Hack to keep footer at bottom */
.wrapper_not_frontpage {
  padding-bottom: 300px; /* Højde på footer! */
  height: 3000px;
}

#to-top {
  position: fixed;
  right: calc(17.5% - 62px); /* 17.5% = margin from content + this width */
  bottom: 0;
  z-index: 1000;
  padding: 15px;
  padding-bottom: 25px;
  background-color: #222;
  font-size: 2em;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

#to-top:hover {
/*
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
*/
  padding-bottom: 30px;
}

#bg-descr-company {
  position: absolute;
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover;
  background-clip: rect(100%, 100px);
  width: 100%;
  height: 85%;
  top: 0;
  /* Spejlvend billede */
/*
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
*/
}

#descr-and-create-acc-btn {
  position: relative;
  display: block;
  height: 400px;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#description {
  position: relative;
  display: block;
  float: left;
  width: 70%;
  height: 100%;
  float: left;
}

#description h1 {
  margin: 60px 0 0 20px;
  padding: 10px;
  color: rgb(212, 62, 73);
}

#description p {
  margin: 0px 20px;
  padding: 10px;
  color: #222;
}

.create-account-btn {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
}

.create-account-btn h5 {
  position: relative;
  text-align: center; 
  font-weight: 400;
  padding: 10px;
  width: 100px;
  top: 180px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  text-transform: uppercase;
  color: rgb(212, 62, 73);
}

.create-account-btn h5:hover {
  color: #fff;
  background-color: rgba(212, 62, 73, 0.75);
/*  border: 1px solid rgba(0,0,0,0);*/
  cursor: pointer;
}

#intro-3btn {
  position: relative;
  display: block;
  width: 65%;
  height: 280px;
  background-color: #fff;
/*  border: 1px solid #ccc;*/
  border-radius: 4px;
  z-index: 100;
  margin: auto;
  margin-bottom: 200px;
  overflow: hidden;
}

.intro-3btn {
  position: relative;
  width: 33.33333333333%;
  height: 100%;
  float: left;
  text-align: center;
  cursor: pointer;
}

#three-ways {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#see-stud-projects {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Alternative for animated #underline */
/*
#three-ways:hover,
#others-use:hover,
#see-stud-projects:hover {
  border-bottom: 10px solid #ccc;
} 
*/

.icon-3btn {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 8em;
  font-weight: 100;
  color: rgb(212,62,73);
  margin-top: 40px;
  z-index: 100;
}

#three {
  position: absolute;
  width: 100%;
  font-size: 10em; 
  font-weight: 600;
  line-height: 0em;
  top: 65px;
}

/* Underlines, being actual lines */

#underline3,
#underline4,
#underline5 {
  height: 5px;
  top: 0;
}

.intro-3btn p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  opacity: 0.9;
  bottom: 40px;
  z-index: 100;
  color: #222;
}

.intro-3btn-content {
  position: relative;
  display: block;
  width: 65%;
  margin: 100px auto;
  /* Hack to follow height of content */ 
  min-height: 10px;
  overflow: hidden;
}

.content-splitter {
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

.whitebox-content-splitter {
  width: 75%;
  height: 6px;
  margin: 0 auto;
}

.content-splitter-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 22px;
  top: -50px;
  height: 0;
  width: 65%;
}

#twc-splitter {
  background: rgb(212,62,73);
}

#twc-header {
  color: rgb(212,62,73);
}

#three-ways-content {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  color: #222;
  /* Hack to follow height of content */ 
  min-height: 10px;
}

.three-ways-content {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  margin: 100px 0;
}

#three-ways-content h3 {
  position: absolute;
  width: 45%;
}

#three-ways-content p {
  position: absolute;
  width: 45%;
  top: 45px; 
}

.bg-twc {
  position: absolute;
  width: 45%;
  height: 100%;
}

/* twc-content box 1 */
#three-ways-content-1 h3 {
  text-align: right;
/*  left: 5%;*/
}

#three-ways-content-1 p {
  text-align: right;
/*  left: 5%;*/
}

#bg-twc-1 {
  right: 5%;
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover; 
}

/* twc-content box 2 */
#three-ways-content-2 h3 {
  right: 0%;
}

#three-ways-content-2 p {
  right: 0%;
}

#bg-twc-2 {
  left: 5%;
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover; 
}

/* twc-content box 3 
#three-ways-content-3 h3 {
  right: 0;
}

#three-ways-content-3 p {
  right: 0;
}

#bg-twc-3 {
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover; 
}
*/

#three-ways-content-3-student h3 {
  text-align: right;
}

#three-ways-content-3-student p {
  text-align: right;
}

#bg-twc-3-student {
  right: 5%;
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover; 
}

#twc-create-account {
  position: relative;
  width: 100%;
  float: left;
  margin: 50px 0;
}

#twc-create-account h5 {
  top: 0;
}

#twc-create-account h5:hover {
  background-color: rgb(212,62,73);
}

#ouc-splitter {
  background: rgb(140, 200, 220);
}

#ouc-header {
  color: rgb(140, 200, 220);
}

.quoteblock-others-use {
  position: absolute;
  right: 0;
  width: 45%;
  height: 140px;
  z-index: 100;
}

#quotemark-others-use {
  height: 100%;
  position: absolute;
  float: left;
  color: rgb(140, 200, 220);
}

#quote-others-use {
  position: relative;
  float: left;
  width: 80%;
  padding-left: 20px;
  margin: 70px 120px;
}

.others-use-content {
  display: block;
  position: relative;
  width: 60%;
  height: 500px;
  margin: 100px 0;
}

.others-use-content h3 {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  color: rgb(140, 200, 220);
}

.others-use-content p {
  position: absolute;
  width: 100%;
  top: 330px;
}

.bg-ouc {
  position: absolute;
  width: 100%;
  height: 250px;
}

/* ouc-content box 1 */
#others-use-1 h3 {
  top: 225px;
}

#others-use-1 p {
  bottom: 0;
}

#bg-ouc-1 {
  background: url("../img/blyant_papir.jpg") no-repeat;
  background-size: cover; 
}
/* ou-content box 1 end */


#ouc-create-account {
  position: relative;
  width: 100%;
  float: left;
  margin: 50px 0;
}

#ouc-create-account h5 {
  color: rgb(140, 200, 220);
  top: 0;
}

#ouc-create-account h5:hover {
  color: #fff;
  background-color: rgb(140, 200, 220);
}

#footer_not_frontpage {
  position: relative;
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 300px; /* Hvis dette ændres skal padding på "wrapper" ændres */
  background-color: rgb(140, 200, 220);
  z-index: 0; 
}

/*----------- Page: projects-no_login.html ------------*/

/* Wheel */

svg {
  font-size: 0.6em;
  display: block;
}

.tags-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: inherit;
  overflow: hidden;
}

.tags-wrap p,
.tags-wrap h4 {
  position: absolute;
  width: 70%;
  text-align: right; 
  right: 280px;
  color: #222;
}

.tags-wrap p {
  top: 25px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ccc;
}

.tags-wrap h4 {
  top: 50px;
}

.tagwheel {
  position: absolute;
  width: 210px;
  height: 210px;
  right: 40px;
  top: calc(50% - 105px); /* 50% minus half height */
}

/* Wheel end */

#wrap-projects-no_login,
#wrap-projects-after_login {
  position: relative;
  height: 1250px;
}

#student_projects-wrapper,
#company_projects-wrapper,
#registered_companies-wrapper,
#registered_students-wrapper,
#student_projects-wrapper-after_login,
#company_projects-wrapper-after_login,
#registered_students-wrapper-after_login, 
#registered_companies-wrapper-after_login {
  position: absolute;
  width: 90%;
  margin: 30px auto; 
  left: 0;
  right: 0;
}

#student_projects-wrapper-after_login,
#company_projects-wrapper-after_login,
#registered_students-wrapper-after_login, 
#registered_companies-wrapper-after_login {
    margin: 120px auto; 
}

#header-projects_students-no_login,
#header-projects_companies-no_login,
#header-registered_students-no_login, 
#header-registered_companies-no_login {
  font-weight: 100;
  font-size: 3.5em;
  letter-spacing: 0.1em;
  color: #ccc;
  text-align: center;
  padding: 20px 0 20px 0;
}

/* Bubble Float Bottom */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}

.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
  box-shadow: 2px -2px 8px #dcdcdc;
  -moz-box-shadow: 2px -2px 8px #dcdcdc;
  -webkit-box-shadow: 2px -2px 8px #dcdcdc; 
}

.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}
/* Bubble Float Bottom END */
/* Bubble Float Top */
.bubble-float-top {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
}

.bubble-float-top:hover, .bubble-float-top:focus, .bubble-float-top:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
  box-shadow: 2px 2px 8px #dcdcdc;
  -moz-box-shadow: 2px 2px 8px #dcdcdc;
  -webkit-box-shadow: 2px 2px 8px #dcdcdc; 
}

.bubble-float-top:hover:before, .bubble-float-top:focus:before, .bubble-float-top:active:before {
  top: -10px;
}
/* Bubble Float Top END */

#projects-header-no_login,
#projects-header-after_login {
  position: absolute;
  width: 50%; /* 100% before fix */
  height: 72px;
  left: 37.5%; /* Fix while we only have 2 to choose from */
}

#projects-header-no_login {
  top: 1380px;
}

#projects-header-after_login {
  top: 20px;
}

#projects-header-titles,
#projects-header-items {
  position: absolute;
  width: 100%;
}

.projects-header-title {
  width: 50%;
}

.projects-header-title:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translateY(1px) translateZ(0);
  transform: translateY(1px) translateZ(0);
}

#projects-header-titles ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  font-size: 0.7em ;
  top: 0px;
  float: left;
}

#projects-header-titles ul li a {
  padding: 5px 0 5px 0;
  display: block;
}

#projects-header-title-1 {
  width: 49%;
}

#projects-header-title-2 {
  width: 49%;
  left: 2%;
}

#projects-header-items ul li {
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  color: #222;
  top: 28px;
  width: 24.5%;
  left: 0;
  background-color: #fff;
  cursor: pointer;
}

#projects-header-items ul li {
  padding: 10px 0 10px 0;
  display: block;
}

#projects-header-item-1-no_login,
#projects-header-item-1-after_login {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 100;
}

#projects-header-item-2-no_login,
#projects-header-item-2-after_login{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 24.5%;
  z-index: 99;
}

#projects-header-item-3 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 51%;
  z-index: 98;
}

#projects-header-item-4 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 75.5%;
  z-index: 97;
}

/*
.phi-active {
  box-shadow: 2px -2px 8px #dcdcdc;
  -moz-box-shadow: 2px -2px 8px #dcdcdc;
  -webkit-box-shadow: 2px -2px 8px #dcdcdc; 
  transform: translateY(5px) translateZ(0);
  -moz-transfomr: translateY(5px) translateZ(0);
  -webkit-transform: translateY(5px) translateZ(0);   
}

.phi-active:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
*/

.phi-active-no_login {
  box-shadow: 2px 2px 8px #dcdcdc;
  -moz-box-shadow: 2px 2px 8px #dcdcdc;
  -webkit-box-shadow: 2px 2px 8px #dcdcdc; 
  transform: translateY(-5px) translateZ(0);
  -moz-transfomr: translateY(-5px) translateZ(0);
  -webkit-transform: translateY(-5px) translateZ(0);   
}

.phi-active-no_login:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}

.phi-active-after_login {
    box-shadow: 2px -2px 8px #dcdcdc;
  -moz-box-shadow: 2px -2px 8px #dcdcdc;
  -webkit-box-shadow: 2px -2px 8px #dcdcdc; 
  transform: translateY(5px) translateZ(0);
  -moz-transfomr: translateY(5px) translateZ(0);
  -webkit-transform: translateY(5px) translateZ(0); 
}

.phi-active-after_login:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: -10px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}

#student_projects-content-wrap,
#company_projects-content-wrap {
  position: absolute;
  margin-top: 70px; /* Height of #projects-header */
  width: 100%;
}

.project {
  position: relative;
  width: 100%;
  height: 260px;
  margin: 40px 0 40px 0;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

#student-project-1,
#company-project-1 {
  margin-top: 20px;
}

.project:hover,
.registered:hover {
  box-shadow: 2px -2px 16px #dcdcdc;
  -moz-box-shadow: 2px -2px 16px #dcdcdc;
  -webkit-box-shadow: 2px -2px 16px #dcdcdc; 
  transition-duration: 0.3s;
  -moz-transition-property: 0.3s;
  -webkit-transition-duration: 0.3s;
  transform: translateY(5px) translateZ(0);
  -moz-transform: translateY(5px) translateZ(0);
  -webkit-transform: translateY(5px) translateZ(0);
}

.project-headline h2 {
  font-size: 1.5em;
  font-weight: 900;
  color: #222;
  text-align: left;
  padding: 5px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cp-data-table,
.p-data-table {
  position: absolute;
  width: 480px;
  font-size: 0.8em;
  font-weight: 100;
  color: #222;
  top: 100px;
  left: 40px;
}

.cp-data-table {
  top: 90px;
  left: 270px;
}

.p-data {
  padding: 5px;
/*  border-bottom: 1px solid #ccc;*/
}

.cp-data {
  line-height: 1.8em;
}

.p-data-headline {
  font-weight: 700;
}

.cp-data-headline {
  top: 0;
  font-weight: 700;
}

.company-logo {
  position: absolute; 
  width: 270px;
  height: 100%;
  margin-right: 10px;
/*  border: 1px solid #ccc;*/
  display: inline-block;
}

#logo-1 {
  background: url(../img/logos/apple.png) no-repeat;
  background-size: 160px;
  background-position: center;
}

#logo-2 {
  background: url(../img/logos/siemens.jpg) no-repeat;
  background-size: 240px;
  background-position: center;
}

#logo-3 {
  background: url(../img/logos/lego.png) no-repeat;
  background-size: 140px;
  background-position: center;
}

#logo-4 {
  background: url(../img/logos/3.jpg) no-repeat;
  background-size: 130px;
  background-position: center;
}

.avatars {
  position: absolute;
  margin: 30px 0 0 45px;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
/*  border: 1px solid #ccc;*/
  display: inline-block;
}

#avatar-1-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 85px;
  background-position: -20px -3px;
}

#avatar-1-2 {
  background: url(../img/avatars/luigi.jpg) no-repeat;
  background-size: 100px;
  background-position: -24px -4px;
}

#avatar-1-3 {
  background: url(../img/avatars/princess.gif) no-repeat;
  background-size: 100px;
  background-position: -24px 4px;
}

#avatar-1-4 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 75px;
  background-position: -24px 4px;
}

#avatar-2-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 85px;
  background-position: -20px -3px;
}

#avatar-2-2 {
  background: url(../img/avatars/luigi.jpg) no-repeat;
  background-size: 100px;
  background-position: -24px -4px;
}

#avatar-2-3 {
  background: url(../img/avatars/princess.gif) no-repeat;
  background-size: 100px;
  background-position: -24px 4px;
}

#avatar-3-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 85px;
  background-position: -20px -3px;
}

#avatar-3-2 {
  background: url(../img/avatars/luigi.jpg) no-repeat;
  background-size: 100px;
  background-position: -24px -4px;
}

#avatar-3-3 {
  background: url(../img/avatars/princess.gif) no-repeat;
  background-size: 100px;
  background-position: -24px 4px;
}

#avatar-3-4 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 75px;
  background-position: -24px 4px;
}

#avatar-3-5 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 75px;
  background-position: -24px 4px;
}

#avatar-4-1 {
  background: url(../img/avatars/kim_vilfort.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#avatar-4-2 {
  background: url(../img/avatars/john_f_jensen.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/*----------- Page: registered-no_login.html ------------*/

#wrap-registered-no_login {
  position: relative;
  height: 1000px;
}

.registered-row {
  position: relative;
  width: 100%;
  margin-top: 1%;
}

.registered {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 300px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.registered:first-child {
  margin-right: 1%;
}

.reg-tags-wrap {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 40%;
  overflow: hidden;
}

.reg-tags-wrap p,
.reg-tags-wrap h4 {
  position: absolute;
  width: 100%;
  text-align: center; 
  right: 0;
  color: #222;
}

.reg-tags-wrap p {
  top: 255px;
/*  text-transform: uppercase;*/
  font-size: 0.8em;
  color: #aaa;
}

.reg-tags-wrap h4 {
  top: 50px;
}

.reg-tagwheel {
  position: absolute;
  width: 169px;
  height: 169px;
  right: calc(50% - 85px);
  top: calc(50% - 100px); /* 50% minus half height */
}

.reg-company-name,
.reg-student-name {
  position: absolute;
  font-size: 1.2em;
/*  text-transform: uppercase;*/
  top: 250px;
  width: 60%;
  color: #aaa;
  font-weight: 100;
  text-align: center;
}

.reg-company-logo {
  position: absolute;
  width: 60%;
  height: 240px;
}

.reg-student-pic {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30px;
  left: calc(30% - 100px);
  border-radius: 50%;
}



#reg_logo-1 {
  background: url(../img/logos/arla.png) no-repeat;
  background-size: 210px;
  background-position: center;
}

#reg_logo-2 {
  background: url(../img/logos/siemens.jpg) no-repeat;
  background-size: 310px;
  background-position: center;
}

#reg_logo-3 {
  background: url(../img/logos/3.jpg) no-repeat;
  background-size: 130px;
  background-position: center;
}

#reg_logo-4 {
  background: url(../img/logos/lego.png) no-repeat;
  background-size: 140px;
  background-position: center;
}

#reg_logo-5 {
  background: url(../img/logos/google.png) no-repeat;
  background-size: 230px;
  background-position: center;
}

#reg_logo-6 {
  background: url(../img/logos/apple.png) no-repeat;
  background-size: 160px;
  background-position: center;
}

#reg_pic-1 {
  background: url(../img/avatars/soren_colding.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#reg_pic-2 {
  background: url(../img/avatars/john_f_jensen.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#reg_pic-3 {
  background: url(../img/avatars/kim_vilfort.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#reg_pic-4 {
  background: url(../img/avatars/karim_zaza.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#reg_pic-5 {
  background: url(../img/avatars/frank_strandli.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#reg_pic-6 {
  background: url(../img/avatars/soren_frederiksen.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.reg-splitter-ver {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #eee;
  left: 60%;
  z-index: 100;
}

/*
.reg-splitter-hor {
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: #eee;
  top: 240px;
  z-index: 100;
}
*/

#registered-header-no_login {
  position: absolute;
  width: 50%; /* 100% before fix */
  height: 72px;
  top: 1140px;
  left: 37.5%; /* Fix while we only have 2 to choose from */
}

/*----------------- Modal -------------------*/

.modal-signup {
  position: relative;
  width: 350px; /* Set in the main.js-file */
  height: 580px; /* Set in the main.js-file */
  padding: 0;
/* overflow: hidden; */
}

.form-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal h3 {
  position: relative;
  display: block;
  padding: 15px;
  font-weight: 100;
  font-size: 1.2em;
  color: #222;
  left: 0;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
/*  border-bottom: 1px solid #ccc;*/
}

.all_inputs-signup {
  position: relative;
  margin-top: 25px;
  /* Hack to set height from content */
  min-height: 5px;
}

.modal input {
  position: relative;
  display: block;
  width: 290px;
  margin: 8px 0 8px 4px;
  padding: 10px;
  color: #ccc;
  float: left;
  clear: both;
  border: none;
}

.modal input[type=text] {
  color: #222;
}

.modal p {
  display: block;
  position: relative;
  clear: both;
  font-size: 0.7em;
  color: #ccc;
  margin: 0 0 5px 0;
  padding: 0 14px;
}

.linkedIn_signup {
  width: 282px;
  position: relative;
  font-size: 1.5em;
  padding: 10px;
  padding-left: 20px;
  margin: 0 auto;
  margin-left: 4px;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  background-color: #4875b4;
  cursor: pointer;
}

.linkedIn-splitter {
  position: absolute;
  height: 100%;
  width: 60px;
  top: 0;
  left: 0;
  border-right: 1px solid #fff;
}

.linkedIn_signup p {
  position: absolute;
  font-size: 0.7em;
  font-weight: 400;
  left: 100px;
  top: 10px;
  right: 0;
  color: #fff;
  text-align: left;
}

.linkedIn_signup:hover {
  opacity: 0.9;
}

.modal button[type="submit"] {
  position: absolute;
  background-color: #e2e1e1;
  width: 312px;
  bottom: 5px;
  left: 20px;
  border: none;
}

.modal button[type="submit"]:hover {
  background-color: rgb(212, 62, 73);
}

.ui-widget-content {
  background: #fff;
  color: #222;
}

/* Dark bg when modal active */
.ui-widget-overlay {
  background: repeat-x scroll 50% 50% #000;
  opacity: 0.7;
}

/* Undisplay predefined "jQuery UI" modal styles */
.ui-widget-header,
.ui-dialog-titlebar-close,
.ui-button {
  display: none;
}

/*-------- Page: my_page.html (opr. Simon) ---------*/

/*---------- Content in all the view *-----------*/
#wrapper-my_page {
  padding-bottom: 300px; /* Højde på footer! */
  height: 600px;
}

#myStudPage {
  width: 65%;
  position: relative;
  margin: 0 auto;
}

/*
#myStudHead {
  color: #222;
  position: relative;
  text-align: center;
  padding: 15px;
  margin: 30px;
  text-transform: uppercase;
}
*/

/*---------- Three main boxes area ----------*/
#personalContent  {
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.boxHeaders {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #222;
  position: relative;
  background-color: #fff;
  padding: 20px;
  text-align: center;
/*  border-bottom: 2px solid rgb(212, 62, 73);*/
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

/*
.tagwheel-my_page {
  right: 20px;
  top: 20px;
  width: 65px;
  height: 65px;
}
*/

.smallBox {
  position: relative;
  background-color: #fff;
  margin: 8px 0 8px 0;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.smallBox:hover,
#allSmallBoxLeft:hover {
  box-shadow: 2px -2px 8px #dcdcdc;
  -moz-box-shadow: 2px -2px 8px #dcdcdc;
  -webkit-box-shadow: 2px -2px 8px #dcdcdc; 
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transform: translateY(2px) translateZ(0);
  -moz-transform: translateY(2px) translateZ(0);
  -webkit-transform: translateY(2px) translateZ(0);
}

.smallBoxText {
  font-size: 0.8em;
  padding:20px;
}

#allSmallBoxLeft,
#allSmallBoxMiddle,
#allSmallBoxRight {
  margin-top: 16px;
}

/*This is for the left chunk*/
#personalInfo {
  position: relative;
  width: 31%;
  float: left;
}

/*Smaller boxes in left box*/
#allSmallBoxLeft {
  border-radius: 4px;
}

.smallBoxLeft {
  position: relative;
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid #eee;
}

.smallBoxLeft:hover {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;  
  transition-duration: none;
  -moz-transition-duration: none;
  -webkit-transition-duration: none;
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}

.smallBoxLeft:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;  
}

.smallBoxLeft:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

/*This is for the central chunk*/
#activeProjects {
  width: 31%;
  float: left;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/*Smaller boxes in left box*/
.smallBoxMid {
  overflow: hidden;
}

.inBoxHeaders {
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
}

/*-------- AVATARS -------------*/
.avatars-my_page {
  position: relative;
  padding-left: 20px;
  /* Hack to follow height of content */ 
  min-height: 5px;
  overflow: hidden;
}

.avatar-my_page {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}

#avatar-p1-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 70px;
  background-position: -22px -7px;
}
#avatar-p1-2 {
  background: url(../img/avatars/luigi.jpg) no-repeat;
  background-size: 80px;
  background-position: -25px -6px;
}
#avatar-p1-3 {
  background: url(../img/avatars/princess.gif) no-repeat;
  background-size: 90px;
  background-position: -29px -1px;
}
#avatar-p1-4 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 55px;
  background-position: -21px 0px;
}

/*This is the chunk to the right*/
#previousProjects {
  position: relative;
  width: 31%;
  float: left;
}

#avatar-p2-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 70px;
  background-position: -22px -7px;
}

#avatar-p2-2 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 55px;
  background-position: -21px 0px;
}

.modal-edit-profile .all_inputs-signup {
  margin-top: 0;
}

#avatar-p3-1 {
  background: url(../img/avatars/super_mario.jpg) no-repeat;
  background-size: 70px;
  background-position: -22px -7px;
}

#avatar-p3-2 {
  background: url(../img/avatars/donkey_kong.jpeg) no-repeat;
  background-size: 55px;
  background-position: -21px 0px;
}

#avatar-p3-3 {
  background: url(../img/avatars/luigi.jpg) no-repeat;
  background-size: 80px;
  background-position: -25px -6px;
}

/* FORM INPUT CLICK ANIMATIONS CSS - BRUGES IKKE LIGE NU */

/* LABEL */

/*
label {
  color: #ccc; 
  font-size: 0.8em;
  font-weight: 100;
  text-transform: none;
  position: absolute;
  pointer-events: none;
  left: 4px;
  top: 18px;
  transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -10px;
  font-size: 0.6em;
  color: rgb(212, 62, 73);
}
*/

/* BOTTOM BARS */

/*
.bar  { position:relative; display:block; width:165px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
*/

/* active state */

/*
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
*/

/* HIGHLIGHTER ================================== */
/*

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
*/

/* active state */

/*
input:focus ~ .highlight { 
  animation:inputHighlighter 0.3s ease;
}
*/

/* ANIMATIONS ================ */

/*
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
*/

/* FORM INPUT CLICK ANIMATIONS CSS SLUT */

/*------ Page: my_page.html (opr. Simon) END -------*/