@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/roboto/Roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* Margin and padding reset */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6, svg, input, label, #contact-info {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 0.03em;
  color: rgb(212,62,73);
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #222;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#companybox {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

#studentbox {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

#companybox-text,
#studentbox-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 10%;
}

#companybox-text h2,
#studentbox-text h2 {
  display: inline-block;
  position: relative;
  padding: 5px;
}

/*
#companybox-text p,
#studentbox-text p {
  position: relative;
  padding: 5px 5px 0 5px;
  margin-bottom: -40px;
}
*/

#underline1,
#underline2 {
  display: block;
  height: 2px;
  width: 0;
  background-color: #ccc;
  margin: 0 auto;
}

.fa {
  margin: auto;
  text-align: center;
}

#icon-company,
#icon-student {
  display: block;
  width: 100%;
  position: relative;
  font-size: 150px;
}

#icon-company,
#icon-student,
#companybox-text h2,
#studentbox-text h2 {
  opacity: 0.9;
}

#c-or-s {
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  z-index: 100;
/* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#c-or-s p {
  position: absolute;
  text-align: center;
  top: 30%;
  padding: 10px;
  background-color: white;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#login_btn h5 {
  position: absolute;
  text-align: center; 
  top: 60%;
  padding: 10px;
  width: 100px;
  background-color: white;
  z-index: 100;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: uppercase;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#login_btn h5:hover {
/*
  background-color: rgb(212, 62, 73);
  color: #fff;
*/
  cursor: pointer;
}

#login_form {
/*  visibility: hidden;*/
  position: absolute;
  top: 130px;
  width: 240px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  z-index: 110;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#close-login-form {
  position: absolute;
  color: #ccc;
  top: 5px;
  right: 5px;
}

#close-login-form:hover {
  cursor: pointer;
}

#login_form input {
  margin: 10px auto;
  padding: 10px;
  position: relative;
}

#login_form input[type="text"],
#login_form input[type="submit"] {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 200px;
  background-color: white;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
  color: rgb(212, 62, 73);
  line-height: 2em;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 6px;
  width: 23px;
  content: "\f10c";
}

input[type="radio"]:hover:before + label:hover:before {
  cursor: pointer;
}

input[type="radio"]:checked + label:before {
  content: "\f192";
}

label {
  margin-left: 12px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
}

#login_form input[type="submit"]{
  width: 222px;
  background-color: #fff; 
  text-transform: uppercase;
}

#login_form input[type="submit"]:hover {
  background-color: rgb(212, 62, 73);
  color: #fff;
  cursor: pointer;
}

#divider_line {
  display: absolute;
  width: 1px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px dashed #ccc;
}

#footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 300px;
  background-color: rgb(200,230,220);
  z-index: 0;
}

#footer-left {
  position: relative;
  width: 50%;
  margin: 100px auto;
  float: left;
}

#contact-info {
  position: relative;
  display: block;
  width: 330px;
  margin-right: 100px;
  color: #fff;
  font-size: .8em;
  line-height: 2em;
  text-align: right;
  float: right;
}

#contact-info strong {
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 6px;
  border-bottom: 1px solid white;
}

.contact-info,
.contact-info a {
  color: #fff;
  margin-top: 15px;
  line-height: 1.6em;
}

#footer-divider {
  position: absolute;
  width: 1px;
  top: 20%;
  height: 60%;
  border-left: 1px solid #fff;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#footer-right {
  position: relative;
  width: 50%;
  margin: 100px auto;
  float: left;
}

#sm-icons {
  position: relative;
  display: block;
  width: 330px;
  margin-left: 60px;
}

.sm {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 3em;
  padding: 20px;
}

/*----------------- Page: company-no-login.html -----------------------*/

#wrapper_not_frontpage {
  padding-bottom: 300px; /* Højde på footer! */
  height: 1500px;
}

#descr-and-create-acc-btn {
  position: relative;
  display: block;
  height: 400px;
  width: 70%;
  margin: 0 auto;
}

#description {
  position: relative;
  display: block;
  float: left;
  width: 70%;
  height: 100%;
  float: left;
}

#description h1 {
  margin: 60px 0 0 20px;
  padding: 10px;
}

#description p {
  margin: 0px 20px;
  padding: 10px;
}

#create-account-btn {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
}

#create-account-btn h5 {
  position: relative;
  text-align: center; 
  padding: 10px;
  width: 100px;
  top: 180px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: uppercase;
}

#create-account-btn h5:hover {
  color: #fff;
  background-color: rgb(212, 62, 73);
}

#intro-3btn {
  position: relative;
  display: block;
  width: 70%;
  height: 320px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.intro-3btn-content {
  position: relative;
  width: 33.33333333333%;
  height: 100%;
  float: left;
  text-align: center;
}

#three-ways {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#see-stud-projects {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Alternative for animated #underline */
/*
#three-ways:hover,
#others-use:hover,
#see-stud-projects:hover {
  border-bottom: 10px solid #ccc;
} 
*/

.icon-3btn {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 8em;
  font-weight: 100;
  color: rgb(212,62,73);
  margin-top: 50px;
  z-index: 100;
}

#three {
  position: absolute;
  width: 100%;
  font-size: 10em; 
  font-weight: 600;
  line-height: 0em;
  top: 65px;
}

.underline {
  position: absolute;
  bottom: 5%;
  /* Hack for at centrere absolute-div */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Underlines, being actual lines */
/*
#underline3,
#underline4,
#underline5 {
  height: 4px;
  width: 0;
  background-color: #ccc;
  margin: 30px auto;
}
*/

/* Boxes as alternatives to underines */
#underline3,
#underline4,
#underline5 {
  height: 0;
  width: 0;
  opacity: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  z-index: 0;
}

.whitebox-hor,
.whitebox-ver {
  position: absolute;
  z-index: 50;
  background-color: white;
}

.whitebox-hor {
  width: 100%;
  height: 80%;
  top: 10%;
}

.whitebox-ver {
  width: 80%;
  height: 100%;
  left: 10%;
}

.intro-3btn-content p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  opacity: 0.9;
  bottom: 35px;
  z-index: 100;
}

#intro-3btn-content {
  position: relative;
  display: block;
  width: 65%;
  margin: 100px auto;
}

#three-ways-content,
#others-use-content,
#stud-projects-content {
  position: relative;
  display: block;
  margin: 50px 0 50px 0;
  width: 50%;
  z-index: 100;
  clear: both;
}

#three-ways-content,
#stud-projects-content{
  float: left;
}

#others-use-content {
  float: right;
}

#footer_not_frontpage {
  position: relative;
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 300px; /* Hvis dette ændres skal padding på "wrapper" ændres */
  background-color: rgb(200,230,220);
  z-index: 0; 
}

/*----------------- Page: my-page.html -----------------------*/

/* Wheel */

svg {
  font-size: 0.6em;
  display: block;
}

.tagwheel-arla-wrapper {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

#tagwheel-arla-wrapper-2 {
  position: relative;
  width: 250px;
}

#tagwheel-arla-wrapper-2 h3 {
  position: relative;
  display: block;
  width: 100%;
  text-align: center; 
}

#tagwheel-arla-wrapper-2 div {
  width: 210px;
  margin: 0 auto;
}

  
